[
     {
          "name": "SQL_ENVIRONMENT_001",
          "description": "SQL Server Environment Production",
          "interval": 2,
          "secretvaultname": "SecretStore",
          "credentialname": "integrated",
          "servers": [
               {
                    "computername": "LAB-NODE2",
                    "comment": "Sql Server Node B Production",
                    "counterConfig": [
                         "CPU",
                         "DISK"
                    ]
               },
               {
                    "computername": "LAB-NODE1",
                    "comment": "Sql Server Node A Production",
                    "counterConfig": [
                         "CPU",
                         "DISK"
                    ]
               },
               {
                    "computername": "LAB-DC01",
                    "comment": "Sql Server Node A Production",
                    "counterConfig": [
                         "CPU",
                         "Memory"
                    ]
               }
          ]
     }
]